@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 60%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 46.875em) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.6rem;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

@-webkit-keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

header {
  width: 100%;
  background-color: #273c75;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  min-height: 10vh;
  margin: auto;
  padding: 1rem 2.5rem;
}

@media only screen and (max-width: 46.875em) {
  nav {
    width: 100%;
  }
}

.btn {
  padding: 1rem 2.5rem;
  border: 0;
  background-color: #0097e6;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  outline: none;
}

.heading {
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 46.875em) {
  .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.heading h1 {
  font-size: 3.5rem;
  font-weight: 300;
}

.heading span {
  margin-left: 2rem;
  justify-self: flex-start;
}

@media only screen and (max-width: 46.875em) {
  .heading span {
    margin: 0;
  }
}

.heading span i {
  margin-top: 0.5rem;
  font-size: 3.5rem;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media only screen and (max-width: 46.875em) {
  .search {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.search label {
  font-size: 2rem;
}

@media only screen and (max-width: 46.875em) {
  .search label {
    margin-top: 1rem;
  }
}

.search input {
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 3px;
  border: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  font-size: 1.8rem;
  color: #000;
}

@media only screen and (max-width: 46.875em) {
  .search input {
    margin-top: 1.5rem;
    width: 60%;
  }
}

@media only screen and (max-width: 46.875em) {
  .search button {
    margin: 1.5rem 0;
    width: 60%;
  }
}

.search button span {
  margin-right: 0.6rem;
}

.search button i {
  font-size: 1.8rem;
}

main {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(39, 60, 117, 0.6)), to(rgba(0, 151, 230, 0.5))), url(../img/clouds.jpg);
  background-image: linear-gradient(to right bottom, rgba(39, 60, 117, 0.6), rgba(0, 151, 230, 0.5)), url(../img/clouds.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 46.875em) {
  main {
    padding-bottom: 7.5rem;
  }
}

.weather {
  height: 60vh;
  background: #cecfd3;
  width: 50%;
  -webkit-box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.4);
  border-top: 5px solid #273c75;
  border-radius: 0.5rem;
  color: #414040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: drop 1s ease;
          animation: drop 1s ease;
}

@media only screen and (max-width: 46.875em) {
  .weather {
    width: 65%;
  }
}

.weather-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 46.875em) {
  .weather-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.weather-main .weather-state {
  font-size: 2.2rem;
}

.weather-main h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-main h2 .weather-city {
  font-size: 3.5rem;
  font-weight: 400;
  margin-right: 1.5rem;
}

.weather-main h2 .weather-state {
  font-size: 2.2rem;
  margin-right: 1.5rem;
}

.weather-main-temperature {
  font-size: 3.5rem;
}

.weather-desc {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 2rem;
  text-transform: uppercase;
}

.weather ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}

.weather ul div:not(:first-child) {
  margin-top: 1.5rem;
}

.weather ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.weather ul div span {
  margin-right: 1rem;
}
/*# sourceMappingURL=style.css.map */