//SEARCH BAR AND INPUT
.search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 2;
	@media only screen and(max-width:$bp-small) {
		flex-wrap: wrap;
		flex-direction: column;
	}
	label {
		font-size: 2rem;
	}
	input {
		padding: 0.5rem 1rem;
		outline: none;
		border-radius: 3px;
		border: 0;
		flex: 0;
		flex-basis: 40%;
		font-size: 1.8rem;
		color: #000;
		@media only screen and(max-width:$bp-small) {
			margin-top: 1.5rem;
			width: 85%;
			max-width: 30rem;
		}
	}
	button {
		@media only screen and(max-width:$bp-small) {
			margin: 1.5rem 0;
			width: 85%;
			max-width: 30rem;
		}
		span {
			margin-right: 0.6rem;
		}
		i {
			font-size: 1.8rem;
		}
	}
}
